In [12]:
IC50 = [1, 2]
chembl_id = ['CHEMBL206', 'CHEMBL300']
columns = {}
columns['a']=IC50
columns['b']=chembl_id
print(columns)

{'a': [1, 2], 'b': ['CHEMBL206', 'CHEMBL300']}

In [3]:
columns['a']

[1, 2]

In [4]:
columns['b']

['CHEMBL206', 'CHEMBL300']

In [26]:
import pandas as pd

In [8]:
df = pd.DataFrame(columns)
df

   a          b
0  1  CHEMBL206
1  2  CHEMBL300

In [13]:
print(df)

   a          b
0  1  CHEMBL206
1  2  CHEMBL300

In [10]:
from sqlalchemy import create_engine
engine = create_engine('mysql://s3b9xv5j7fpauxft3fxp:pscale_pw_WdI68TCNVAXh7p02JTeb1kBMkefNhcEQaw9mH27haOZ@aws.connect.psdb.cloud/experiment-finder?ssl={"rejectUnauthorized":true}', echo=False)

In [14]:
print(engine)

Engine(mysql://s3b9xv5j7fpauxft3fxp:***@aws.connect.psdb.cloud/experiment-finder?ssl=%7B%22rejectUnauthorized%22%3Atrue%7D)

In [15]:
df.to_sql('chemblID_ic50', con=engine)

2

In [16]:
IC50 = [3, 4]
chembl_id = ['CHEMBL400', 'CHEMBL500']
columns_2 = {}
columns_2['a']=IC50
columns_2['b']=chembl_id
print(columns_2)

{'a': [3, 4], 'b': ['CHEMBL400', 'CHEMBL500']}

In [19]:
df_2 = pd.DataFrame(columns_2)
df_2

   a          b
0  3  CHEMBL400
1  4  CHEMBL500

In [20]:
df_2.to_sql('chemblID_ic50', if_exists='append', con=engine)

2

In [ ]:
import pickle
f = open("ENSG00000261456dataframe.pickle","rb")
x1 = pickle.load(f)
f.close()
display(x1)

In [31]:
x1.columns

Index(['compound id', 'smiles', 'type', 'standard value', 'assay_id',
       'assay type', 'assay description', 'document ID', 'abstract'],
      dtype='object')

In [ ]:
df.DataFrame